body {
  padding: 0 !important;
}

*:has(> video) {
  font-size: 0;
}

.lg-react-element {
  display: none;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.my-paroller img {
  transform: none;
}

.swiper-controls .swiper-button-prev,
.swiper-controls .swiper-button-next {
  position: static;
  display: inline-block;
}

.swiper-controls .swiper-button-prev:after,
.swiper-controls .swiper-button-next:after {
  display: none;
}


.swiper-controls.arrow-out .left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 7px;
}

.testim-clasic.light .swiper-pagination-bullet,
.work-carsouel.light .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active,
.testim-clasic.light .swiper-pagination-bullet-active,
.work-carsouel.light .swiper-pagination-bullet-active {
  background: var(--navy);
}

.testim-clasic .swiper-controls .swiper-pagination {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0px 30px;
  bottom: 0;
}

.accordion-info {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-top: 0 !important;
  display: block !important;
}

.accordion-info.active {
  overflow: unset;
  margin-top: 15px !important;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: block !important;
  padding: 0 !important;
}

.accordion-info.sub-open {
  overflow: unset;
  padding: 20px 0 !important;
}

.showcase-full .dots {
  bottom: 50px !important;
}

.light.shop-cart .counter input {
  color: #000;
}
