@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in !important;
}

.slide-in {
  animation: slideIn 2s ease-in !important;
}

.vision-container {
  padding: 0px 100px;
}

@media only screen and (max-width: 1024px) {
  .vision-container {
    padding: 20px !important;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .mobile-value {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 576px) {
  .mobile-responsive {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 576px) {
  .section-mobile {
    font-size: 10px !important;
  }
}
